<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Thaili.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UEMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="UEMS.Properties.Settings.Configstring" connectionString="Data Source=accpro;"
            providerName="System.Data.SQLite" />
    </connectionStrings>
 
  <userSettings>
    <Thaili.Properties.Settings>
      <setting name="dbname" serializeAs="String">
        <value>uems</value>
      </setting>
      <setting name="Question_Group" serializeAs="String">
        <value />
      </setting>
      <setting name="Search_Group" serializeAs="String">
        <value />
      </setting>
      <setting name="Search_Company" serializeAs="String">
        <value />
      </setting>
      <setting name="Login_LastLoginBy" serializeAs="String">
        <value />
      </setting>
      <setting name="chkShowTitle" serializeAs="String">
        <value>False</value>
      </setting>
    </Thaili.Properties.Settings>
    <UEMS.Properties.Settings>
      <setting name="dbname" serializeAs="String">
        <value>accpro</value>
      </setting>
      <setting name="Login_LastLoginBy" serializeAs="String">
        <value />
      </setting>
      <setting name="DbEngine" serializeAs="String">
        <value>sqlite</value>
      </setting>
      <setting name="DataPath" serializeAs="String">
        <value />
      </setting>
    </UEMS.Properties.Settings>
  </userSettings>
</configuration>